html, body {
  color: #aeaeae;
  background-color: black;
  height: 100vh;
  width : 100vw;
  overflow: auto;
  font-size: 1em;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  width : 100%;
  display: flex;
  flex-direction: column;
  border: 0;
  margin: 0;
}

@media all and (min-width: 412px) {
  body {
    background-color: #aeaeae;
  }

  #app {
    position: relative;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 412px;
    height: 732px;
  }

  .row {
    width: 100%;
  }
}

#playButton {
  padding: 0;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  border-color: transparent transparent transparent green;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 37px 0 37px 60px;

  margin-left: calc( 50% - 37px );
  margin-right: calc( 50% - 37px );
}

#playButton.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
  border-color: red;
}

#playButton:hover {
  border-color: transparent transparent transparent lightgreen;
}

#playButton.paused:hover {
  border-color: transparent transparent transparent pink;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

.row {
  border-top: 1px solid #a0a0a0;
  width: 100%;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.row.bottom {

  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

output {
  color: yellow;
  font-weight: bold;
}

input {
  width: 90%;
}
