* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  background-color: black;
  color: #aeaeae;
  margin: 0;
  border: 0;
  padding: 0;
}

#app {
  height: 100vh;
  width : 100vw;
  padding: 4px;
  overflow: auto;
}

.container {
  width : 100%;
  height: 100%;
  background-color: black;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  grid-template-areas:
    "bpmPanel bpmPanel measurePanel measurePanel"
    "masterVolumePanel masterVolumePanel accentVolumePanel accentVolumePanel"
    "quarterVolumePanel eighthVolumePanel sixteenthVolumePanel tripletsVolumePanel"
    "playPanel playPanel playPanel playPanel";
}

#bpmPanel {
  grid-area: bpmPanel;
}

#measurePanel {
  grid-area: measurePanel;
}

#masterVolumePanel {
  grid-area: masterVolumePanel;
}

#accentVolumePanel {
  grid-area: accentVolumePanel;
}

#quarterVolumePanel {
  grid-area: quarterVolumePanel;
}

#eighthVolumePanel {
  grid-area: eighthVolumePanel;
}
#sixteenthVolumePanel {
  grid-area: sixteenthVolumePanel;
}
#tripletsVolumePanel {
  grid-area: tripletsVolumePanel;
}

@media only screen and (max-width: 950px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-areas:
      "bpmPanel"
      "measurePanel"
      "masterVolumePanel"
      "accentVolumePanel"
      "quarterVolumePanel"
      "eighthVolumePanel"
      "sixteenthVolumePanel"
      "tripletsVolumePanel"
      "playPanel";
  }
}

#playButton {
  padding: 0;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  border-color: transparent transparent transparent green;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 37px 0 37px 60px;

  margin-left: calc( 50% - 37px );
  margin-right: calc( 50% - 37px );
}

#playButton.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
  border-color: red;
}

#playButton:hover {
  border-color: transparent transparent transparent lightgreen;
}

#playButton.paused:hover {
  border-color: transparent transparent transparent pink;
}

label {
  width: 30%;
  display: block;
  font-size: 0.6rem;
}

output {
  color: yellow;
  font-weight: bold;
}

input, button {
  margin: 10px;
  border-radius: 4px;
  font-weight: bold;
  background: black;
  color: white;
  border: 1px solid #aeaeae;
  padding: 10px;
}

input[type="text"] {
  color: yellow;
}

input[type="range"] {
  width: 90%;
}

#bpmPanel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas:
    "bpmMinus10Button bpmInput bpmPlus10Button"
    "bpmMinus1Button bpmInput bpmPlus1Button"
}

#bpmMinus10Button {
  grid-area: bpmMinus10Button; 
}

#bpmMinus1Button {
  grid-area: bpmMinus1Button; 
}

#bpmInput {
  grid-area: bpmInput;
  font-size: 3rem;
}

#bpmPlus10Button {
  grid-area: bpmPlus10Button; 
}

#bpmPlus1Button {
  grid-area: bpmPlus1Button;  
}

